.SearchBar {
    padding: 20px;
    display: flex;
    justify-content: center;
}

  .Search input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #282c34;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .Search button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #282c34;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
  }

  .Search button:hover {
    background-color: #282c34;
    color: white;
  }